body {
  display: flex;
  background: #2d7fb5;
  margin: 0;
  color: #fff;
}

.navbar-desktop {
  display: block;
  top: 0;
  padding-top: 8px;
  height: 60px;
  width: 100%;
  position: fixed;
  background: #1d1d1d;
  color: #919191;
  border-bottom: 1px solid #2f2f2f;
  z-index: 2;
}

.nav-logo {
  margin-left: 5%;
  float: left !important;
  padding-top: 8px;
}
.nav-main-links {
  float: right;
  right: 5%;
}
.nav-main-links ul {
  margin: 8px;
  margin-bottom: 0;
}

.nav-main-links ul li input {
  padding-left: 30px;
  position: relative;
  border: 2px solid #919191;
  width: 250px;
  height: 30px;
  outline: none;
  color: #919191;
  font-size: 0.85em;
  font-weight: 700px;
  background: #1d1d1d url(https://yts.am/assets/images/website/icon-search.svg)
    no-repeat 9px;
  border-radius: 20px;
}

.nav-main-links li {
  list-style-type: none;
  display: inline;
  margin-left: 32px;
}

.nav-main-links li a {
  text-decoration: none;
  color: #919191;
}

.navbar-desktop img {
  vertical-align: middle;
}

.main {
  margin-top: 10%;
  margin-left: 28px;
  margin-right: 28px;
  padding-left: 15px;
  padding-right: 15px;
}

.movie-card {
  position: relative;
  width: 25%;
  float: left;
  margin: 0;
  margin-bottom: 70px;
}

figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

figcaption {
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  transition: all 300ms ease;
}

figure:hover figcaption {
  opacity: 1;
}

.movie-card-link {
  max-width: 220px;
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 4px;
}
.movie-card-link:hover {
  border-color: green;
}

.cover-img {
  width: 100%;
  height: 100%;
}

.star {
  padding-left: 45%;
  padding-top: 30%;
}

.rating {
  text-align: center;
  color: #fff;
}

.genre {
  text-align: center;
  color: #fff;
}

.btn-view-details {
  position: absolute;
  border: 1px solid #6ac045;
  background: #6ac045;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20%;
}
