<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        {% block title %}
            <title>Search Result</title>
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="{{ url_for("static", filename="css/home.css") }}">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% endblock %}
</head>

<body>
{% block body %}
    {% block flash %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>
                        alert({{ message }})
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
    {% block navbar %}
        <div class="navbar-desktop">
            <div class="nav-logo">
                <a href="{{ url_for("home") }}"><img src="{{ url_for("static", filename="images/logo.png") }}"
                                                     alt=""></a>
            </div>
            <div class="nav-main-links">
                <ul>
                    <li><input id="searchMovie" type="text" placeholder="Search Movie"></li>
                    <li><a href="{{ url_for("home") }}"><b>Browse Movies</b></a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
{% endblock %}
<script>

    var input = document.getElementById("searchMovie");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            if (input.value != "") {
                $.get("{{ url_for("search") }}", {'query': input.value}, function (response) {
                    {#console.log(response);#}
                    result = response.result;
                    console.log(result);

                    var movieList = document.getElementById("movielist");
                    var text = "";
                    for (var i = 0; i < result.length; i++) {
                        console.log(result[i]);

                        text += "<div class=\"movie-card\">\n" +
                            "                            <figure>\n" +
                            "                                <img class=\"cover-img\"\n" +
                            "                                     src=\"\n" +
                            result[i].poster + "\n" +
                            "                                     alt=\"\">\n" +
                            "                                <figcaption>\n" +
                            "          <span class=\"star\">\n" +
                            "            <img src=\"https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png\">\n" +
                            "          </span>\n" +
                            "                                    <h2 class=\"rating\">\n" +
                            result[i].title + "</h2>\n" +
                            "                                    <h3 class=\"genre\">\n" +
                            result[i].year + "</h3>\n" +
                            "                                    <span class=\"btn-view-details\">View Details</span>\n" +
                            "                                </figcaption>\n" +
                            "                            </figure>\n" +
                            "                        </a>\n" +
                            "                    </div>"
                    }
                    movieList.innerHTML = text;

                });
            }

        }
    });
</script>
</body>
</html>
